$skycyan: #7cccea;
$deepblue: #06729e;
$aidred: #f74d48;
$forestgreen: #40a345;
$reddirt: #994a40;
$softblack: #232a29;
@font-face {
  font-family: "fontBlack";
  src: url("assets/fonts/InternacionalAlt-Black.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "fontBold";
  src: url("assets/fonts/InternacionalAlt-Bold.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "fontLight";
  src: url("assets/fonts/InternacionalAlt-Light.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "fontRegular";
  src: url("assets/fonts/InternacionalAlt-Regular.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "fontSemiBold";
  src: url("assets/fonts/InternacionalAlt-SemiBold.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "fontThin";
  src: url("assets/fonts/InternacionalAlt-Thin.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}
@font-face {
  font-family: "fontUltraLight";
  src: url("assets/fonts/InternacionalAlt-UltraLight.ttf")
    format("truetype-variations");
  font-weight: 1 999;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  header {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;

    #splash {
      height: 50vw;
      #splashMobilImage {
        img {
          width: 100vw;
          height: auto;
        }
      }
      #splashDesktopImage {
        display: none;
      }
      #splashHeadline {
        position: absolute;
        top: 5vw;
        width: 100%;
        #splashHeadlineText {
          margin: 0;
          padding: 0;
          text-align: center;
          font-family: fontBlack;
          // letter-spacing: 1vw;
          font-size: 2em;
          color: $aidred;
        }
        #SplashedHeadlineText2 {
          margin: 0;
          padding: 0;
          text-align: center;
          font-family: fontBold;
          font-size: 1.4em;
          color: white;
          position: relative;
          top: 4vh;
          #green {
            color: green;
          }
        }
      }
      #splashText {
        position: absolute;
        top: 22vw;
        left: 5vw;
        line-height: 2em;
        margin-top: 6vh;
        padding-left: 11vw;
        padding-right: 11vw;
        color: white;
        #splashTextTxt {
          margin: 0;
          padding: 0;
          font-family: fontRegular;
          letter-spacing: 0.1vw;
          font-size: 1.1em;
        }
      }
      #goToCalc {
        display: none;
        position: relative;
        width: 52vw;
        height: 8vw;
        left: 26vw;
        bottom: 5vw;
        background-color: black;
        cursor: pointer;
        #goToCalcText {
          color: white;
          margin: 0;
          padding: 0;
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
          letter-spacing: 1vw;
          font-size: 1.1em;
          transform: translateY(1vw);
          text-align: center;
        }
      }
    }
  }
  main {
    .questionBox {
      width: 42vw;
      height: 5vh;
      border-radius: 5px;
      background-color: white;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      p {
        height: 5vh;
        border-radius: 5px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }

    p {
      margin: 0;
      font-size: 0.9em;
      font-family: sans-serif;
      font-weight: bold;
    }

    position: absolute;

    top: 50vh;
    .regular {
      height: 15.5vh;
    }
    .expanded {
      height: 80vh;
    }
    #goLeft {
      z-index: 30;
      opacity: 0;
      top: 1vw;
      position: absolute;
      pointer-events: none;
      width: 10vw;

      #goLeftImg {
        width: 100%;
      }
    }
    #goRight {
      z-index: 30;
      position: absolute;
      top: 1vw;
      width: 10vw;
      left: 90vw;
      pointer-events: none;
      opacity: 0;
      #goRightImg {
        width: 100%;
        transform: rotate(180deg);
      }
    }

    #calcCO2 {
      z-index: -10vw;
      transition: 1s;
      box-sizing: border-box;
      position: absolute;
      top: 0vw;
      width: 100vw;
      overflow-y: hidden;
      overflow-x: hidden;

      .q1H2 {
        margin-top: 5vh;
        font-size: 1.3em;
        margin-bottom: 7vh;
        font-family: fontRegular;
      }

      .slide1 {
        transform: translateX(-0vw);
      }
      .slide2 {
        transform: translateX(-100vw);
      }
      .slide3 {
        transform: translateX(-200vw);
      }
      .slide4 {
        transform: translateX(-300vw);
      }

      #q1Headline {
        font-family: "fontBlack";
        text-align: center;
        margin-top: 8vh;
      }

      #q2Headline {
        font-family: "fontBlack";
        text-align: center;
        margin-top: 8vh;
      }

      #q3Headline {
        font-family: "fontBlack";
        text-align: center;
        margin-top: 8vh;
      }

      #q4Headline {
        font-family: "fontBlack";
        text-align: center;
        margin-top: 8vh;
      }

      #questionSlider {
        z-index: 1;
        transition: 0.5s;
        width: 200vw;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .question {
          width: 100vw;
          height: 100%;
        }
        #questionID1 {
          background-color: white;

          #start {
            width: 10vw;
            height: 10vw;
            position: absolute;
            right: 1vw;
            top: 1vw;
            background-color: black;
            cursor: pointer;
          }

          #questionID1_1 {
            transition: 0.2s;
            opacity: 100;
            #questionID1_1Headline {
              text-align: center;
            }
            #questionID1_1MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 5vw;
              .ID1_1Selected {
                background-color: $deepblue !important;
                color: white;
              }
              .ID1_1 {
                background-color: $skycyan;
              }
            }
            #questionID1_1Nav {
              .next1 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }

          #questionID1_2 {
            display: none;
            opacity: 0;
            transition: 0.2s;
            #questionID1_2Headline {
              text-align: center;
            }
            #questionID1_2MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 5vw;
              .ID1_2Selected {
                background-color: $deepblue !important;
                color: white;
              }
              .ID1_2 {
                background-color: $skycyan;
              }
            }
            #questionID1_2Nav {
              .goBackOnce2 {
                width: 20vw;
                height: 3vh;
                background-color: hotpink;
              }
              .next2 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          #questionID1_3 {
            display: none;
            opacity: 0;
            transition: 0.2s;
            #questionID1_3Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontRegular;
              }
            }
            #questionID1_3MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 5vw;
              .ID1_3Selected {
                background-color: $deepblue !important;
                color: white;
              }
              .ID1_3 {
                background-color: $skycyan;
              }
            }
            #questionID1_3Nav {
              .next3 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        #questionID2 {
          background-color: white;
          #questionID2_1 {
            display: block;
            opacity: 100;
            transition: 0.2s;
            #questionID2_1Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontRegular;
              }
            }
            #questionID2_1MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 5vw;
              .ID2_1Selected {
                background-color: $deepblue !important;
                color: white;
              }

              .ID2_1 {
                background-color: $skycyan;
              }
            }
            #questionID2_1Nav {
              .goBackOnce4 {
                width: 20vw;
                height: 3vh;
                background-color: hotpink;
              }
              .next4 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          #questionID2_2 {
            display: none;
            opacity: 0;
            transition: 0.2s;
            #questionID2_2Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontRegular;
              }
            }
            #questionID2_2MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 0vw;
              width: 1+0%;
              .ID2_2 {
                display: none;
                transform: scale(0.9);
                .answerBoxHeadline {
                  font-size: 0.7em;
                  position: relative;
                  left: 2vw;
                  font-family: fontRegular;
                }
                .valueBoxSelected {
                  background-color: $deepblue !important;
                  color: white;
                }
                .valueBox {
                  height: 20%;
                  margin: 2vw;
                }
                .valueInput {
                  padding: 1vw;
                  margin-bottom: 1vh;
                }

                label {
                  font-family: sans-serif;
                  font-weight: bold;
                  color: $deepblue;
                }
              }
            }
            #questionID2_2Nav {
              .goBackOnce5 {
                width: 20vw;
                height: 3vh;
                background-color: hotpink;
              }
              .next5 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        #questionID3 {
          background-color: white;
          #questionID3_1 {
            display: block;
            opacity: 100;
            transition: 0.2s;
            #questionID3_1Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontRegular;
              }
            }
            #questionID3_1MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 3vw;
              .ID3_1Selected {
                background-color: $deepblue !important;
                color: white;
              }
              .ID3_1 {
                display: block;
                background-color: $skycyan;
              }
            }
            #questionID3_1Nav {
              .next6 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          #questionID3_2 {
            display: none;
            opacity: 0;
            transition: 0.2s;
            #questionID3_2Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontRegular;
              }
            }
            #questionID3_2MainArea {
              display: grid;
              grid-template-rows: 1fr 1fr 1fr;
              gap: 3vw;
              .ID3_2Selected {
                background-color: $deepblue !important;
                color: white;
              }
              .ID3_2 {
                display: block;
                background-color: $skycyan;
              }

              #miles {
                width: 15vw;
                height: 2.5vh;
                text-align: center;
                position: relative;
                left: 42.5vw;
                border-radius: 5px;
              }

              label {
                text-align: center;
                font-family: sans-serif;
                margin-top: 3vh;
                margin-bottom: 3vh;
              }
            }
            #questionID3_2Nav {
              .next7 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
        #questionID4 {
          background-color: white;
          #questionID4_1 {
            display: block;
            opacity: 100;
            transition: 0.2s;
            #questionID4_1Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontRegular;
              }
            }
            #questionID4_1MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 3vw;
              .ID4_1Selected {
                background-color: $deepblue !important;
              }
              .ID4_1 {
                display: block;
                background-color: $skycyan;
              }
            }
            #questionID4_1Nav {
              .next8 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          #questionID4_2 {
            display: none;
            opacity: 0;
            transition: 0.2s;
            #questionID4_2Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontBlack;
              }
            }
            #questionID4_2MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 3vw;

              .incrementalCounter {
                label {
                  font-family: sans-serif;
                  color: $deepblue;
                  font-weight: bold;
                }

                input {
                  margin: 0.5vh;
                  border-radius: 4px;
                  padding-top: 0.4vh;
                  padding-bottom: 0.4vh;
                  text-align: center;
                }
              }
            }
            #questionID4_2Nav {
              .next9 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          #questionID4_3 {
            display: none;
            opacity: 0;
            transition: 0.2s;
            #questionID4_3Headline {
              text-align: center;
              .q1H2 {
                font-size: 1.5em;
                font-family: fontBlack;
              }
            }
            #questionID4_3MainArea {
              display: grid;
              grid-template-columns: 1fr 1fr;
              gap: 3vw;

              .incrementalCounter {
                label {
                  font-family: sans-serif;
                  color: $deepblue;
                  font-weight: bold;
                }

                input {
                  margin: 0.5vh;
                  border-radius: 4px;
                  padding-top: 0.4vh;
                  padding-bottom: 0.4vh;
                  text-align: center;
                }
              }
            }
            #questionID4_3Nav {
              .next10 {
                width: 30vw;
                height: 4.3vh;
                border-radius: 8px;
                position: relative;
                left: 35vw;
                right: 50vw;
                top: 4vh;
                color: white;

                background-color: hotpink;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .up {
        top: -100%;
      }
      .down {
        top: 0;
      }
      .up {
        top: -80vh;
      }
      .down {
        top: 0;
      }
      #endCard {
        position: absolute;
        z-index: 2;
        transition: 0.3s;
        width: 100vw;
        height: 100%;
        background-color: white;

        #buy {
          position: relative;
          top: 7vh;
          left: 37.5vw;
          width: 25vw;
          border: 1px solid white;
          border-radius: 8px;
          background-color: $skycyan;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1vh;
            color: black;
          }
        }

        #endCardOptions {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 8vw;
          gap: 3vw;

          .presentSelected {
            transform: scale(1.1);
            border: 2px solid $deepblue;
          }
          .present {
            width: 20vw;
            padding: 3vw;
            height: 20vw;
            background-color: white;
            margin: auto;
            display: grid;
            text-align: center;
          }

          .presentText {
            font-size: 0.7em;
            margin-top: 1vh;
          }

          #present_1 {
            grid-column-start: 2;
          }
          #present_2 {
            grid-column-start: 1;
            grid-row: 2;
            margin-top: 5vw;
            width: 20vw;
            height: 20vw;

            img {
              width: 13vw;
            }
          }
          #present_3 {
            grid-column-start: 2;
            grid-row: 2;
            margin-top: 5vw;

            img {
              width: 20vw;
            }
          }
          #present_4 {
            grid-column-start: 3;
            grid-row: 2;
            margin-top: 5vw;

            img {
              width: 16vw;
            }
          }

          .presentImg {
            width: 30vw;
            text-align: center;
            margin: auto;
          }
        }
      }
      .paymentUp {
        top: -100%;
      }
      .paymentDown {
        top: 0vw;
      }
      #payment {
        position: absolute;
        z-index: 2;
        transition: 0.3s;
        width: 100vw;
        height: 100%;
        background-color: white;
        #paymentIMG {
          width: 80%;
          margin-left: 10%;
        }
      }
      .thankYouUp {
        top: -200%;
      }
      .thankYouDown {
        top: 0%;
      }
      #thankYou {
        opacity: 0;
        position: absolute;
        z-index: 2;
        transition: 0.3s;
        width: 100vw;
        height: 100%;
        background-color: white;
        #thankYouImgContainer {
          width: 60%;
          margin-left: 10vw;
          #thankYouIMG {
            width: 60%;
          }
        }
      }
    }
    .infoRegular {
      top: 15vh;
    }
    .infoExpanded {
      top: 79.5vh;
    }
    #info {
      position: absolute;
      transition: 1s;

      #infoHeadline1 {
        position: absolute;
        width: 100vw;
        top: 2vh;
        #infoHeadline1Text {
          margin: 0;
          padding: 0;
          text-align: center;
        }
      }
      #grafikArea1 {
        position: absolute;
        top: 2vh;
        left: 7.5vw;
        width: 85vw;

        display: grid;
        grid-template-rows: repeat(3, 1fr);
        .grafikElement1 {
          /* background-color: black;
          height: 30vh; */
          margin: 4vw;
          display: flex;
          justify-content: center;
          align-items: center;
          #Stig_1 {
            width: 58vw;
            position: relative;
            top: 8vh;
            margin: auto;
          }
          #Stig_2 {
            width: 25vw;
            margin: auto;
          }
          #Stig_3 {
            width: 38vw;
            margin: auto;
          }
        }
      }

      #infoHeadline2 {
        position: absolute;
        top: 103vh;
        width: 100vw;
        #InfoHeadline2Text {
          margin: 0;
          padding: 0;
          text-align: center;
          font-family: fontBold;
          color: $aidred;
        }
      }
      #infoText {
        position: absolute;
        top: 110vh;
        left: 13vw;
        width: 80vw;
        line-height: 1.8em;
        #infoTextTxt {
          margin: 0;
          padding: 0;
          font-family: fontRegular;
          letter-spacing: 0.1vw;
          font-size: 1.1em;
        }
      }
      #grafikArea2 {
        position: absolute;
        top: 160vh;
        left: 7.5vw;
        width: 85vw;
        .grafikElement2 {
          height: 30vh;
          margin: auto;

          #Pakke_1 {
            width: 100%;
            margin: auto;

            transform: scale(0.4);
          }
          #Pakke_2 {
            width: 100%;
            margin: auto;
            margin-top: 10vh;
            transform: scale(0.7);
          }
          #Pakke_3 {
            width: 100%;
            margin: auto;
            margin-top: 12vh;
            transform: scale(0.8.5);
          }
        }
        #PakkeTekst_1 {
          font-family: fontBold;
          text-align: center;
          position: relative;
          top: -25vw;
        }
        #PakkeTekst_2 {
          font-family: fontBold;
          text-align: center;
          position: relative;
          top: -8vw;
        }
        #PakkeTekst_3 {
          font-family: fontBold;
          text-align: center;
          position: relative;
        }
      }
    }
    .collabHeadlineRegular {
      top: 295vh;
    }
    .collabHeadlineExpanded {
      top: 355vh;
    }
    #collabHeadline {
      position: absolute;
      transition: 1s;
      width: 100vw;
      #collabHeadlineText {
        text-align: center;
        font-family: fontBold;
        color: $aidred;
      }
    }
    .collaboratorsRegular {
      top: 305vh;
    }
    .collaboratorsExpanded {
      top: 365vh;
    }

    #collaborators {
      position: absolute;
      transition: 1s;
      left: 15vw;
      width: 70vw;
      display: grid;
      grid-template-columns: 1fr;

      .collabElement {
        height: 30vh;
        margin: 4vw;
        margin-top: -10vw;
        display: flex;
        justify-content: center;
        align-items: center;

        #collab_1 {
          width: 35vw;
          margin: auto;
        }
        #collab_2 {
          width: 50vw;
          margin: auto;
          position: relative;
          top: -15vw;
        }
        #collab_3 {
          width: 50vw;
          margin: auto;
          position: relative;
          top: -35vw;
        }
        #collab_4 {
          width: 50vw;
          margin: auto;
          position: relative;
          top: -55vw;
        }
      }
    }
  }
  .footerRegular {
    top: 440vh;
  }
  .footerExpanded {
    top: 495vh;
  }
  footer {
    position: absolute;
    transition: 1s;
    height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    #kontakt {
      background-color: $skycyan;
      text-align: center;
      font-family: fontRegular;
      color: white;
      cursor: pointer;
      a {
        color: white;
        text-decoration: none;
      }
    }
    #toMainPage {
      background-color: $skycyan;
      text-align: center;
      font-family: fontRegular;
      color: white;
    }
  }
}
@media only screen and (min-width: 1920px) {
  body {
    overflow-x: hidden;

    header {
      position: absolute;
      top: 0;

      #splash {
        height: 200%;
        #splashDesktopImage {
          display: block;
          img {
            width: 100vw;
            height: auto;
          }
        }
        #splashMobilImage {
          display: none;
        }
        #splashHeadline {
          position: absolute;
          top: 4vw;

          #splashHeadlineText {
            font-family: fontBold;
            letter-spacing: 0.1vw;
            font-size: 3em;
            text-align: center;
          }
          #SplashedHeadlineText2 {
            font-family: fontBold;
            letter-spacing: 0.1vw;
            font-size: 4em;
            position: relative;
            top: 13vh;
          }
        }
        #splashText {
          position: absolute;
          top: 35vh;
          left: 17vw;
          right: 17vw;
          #splashTextTxt {
            font-family: fontRegular;
            font-size: 1.6em;
            line-height: 1.4em;
          }
        }
        #goToCalc {
          position: relative;
          width: 18vw;
          height: 4vw;
          left: 41vw;
          top: -100vw;
          background-color: black;
          cursor: pointer;
          display: block;

          #goToCalcText {
            color: white;

            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
              sans-serif;
            letter-spacing: 1vw;
            font-size: 0.8em;
            transform: translateY(1vw);
            text-align: center;
          }
        }
      }
    }
    main {
      position: absolute;
      top: 100vh;
      .expanded {
        height: 80vh;
      }
      .regular {
        height: 15.5vh;
      }
      #calcCO2 {
        border: solid black 2px;
        transition: 1s;
        box-sizing: border-box;
        position: absolute;
        top: 0vh;
        width: 100vw;
        overflow-y: hidden;
        overflow-x: hidden;
        #questionSlider {
          width: 400%;
          height: 100%;
          .question {
            width: 100vw;
            height: 100%;
          }
          #questionID1 {
            background-color: blue;
          }
          #questionID2 {
            background-color: green;
          }
          #questionID3 {
            background-color: red;
          }
          #questionID4 {
            background-color: hotpink;
          }
        }
      }
      .infoRegular {
        top: 15vh;
      }
      .infoExpanded {
        top: 79.5vh;
      }
      #info {
        position: absolute;

        #infoHeadline1 {
          position: absolute;
          width: 100vw;
          top: 2vh;
          #infoHeadline1Text {
            text-align: center;
          }
        }
        #grafikArea1 {
          position: absolute;
          top: 8vh;
          left: 7.5vw;
          width: 85vw;

          display: grid;
          grid-template-columns: repeat(3, 1fr);
          .grafikElement1 {
            height: 30vh;
            margin: 4vw;
            display: flex;
            justify-content: center;
            align-items: center;
            #Stig_1 {
              width: 20vw;
              margin: auto;
            }
            #Stig_2 {
              width: 10vw;
              margin: auto;
            }
            #Stig_3 {
              width: 12vw;
            }
          }
        }
        #infoHeadline2 {
          position: absolute;
          top: 95vh;
          width: 100vw;
          #InfoHeadline2Text {
            text-align: center;
            font-size: 2vw;
          }
        }
        #infoText {
          position: absolute;
          top: 105vh;
          width: 50vw;
          line-height: 1.8em;
          left: 26vw;
          right: 17vw;

          #infoTextTxt {
            margin: 0;
            padding: 0;
            font-family: fontRegular;
            letter-spacing: 0.1vw;
            font-size: 1.1em;

            font-family: fontRegular;
            font-size: 1.6em;
            line-height: 1.4em;
          }
        }
        #grafikArea2 {
          position: absolute;
          top: 175vh;
          left: 7.5vw;
          width: 85vw;
          display: grid;
          grid-template-columns: repeat(3, 1fr);

          .grafikElement2 {
            height: 30vh;
            margin: 4vw;
            margin-top: -20vw;

            #Pakke_1 {
              width: 10vw;
              margin: auto;
              position: relative;
              right: -5vw;
            }
            #Pakke_2 {
              width: 20vw;
              margin: auto;
              position: relative;
              right: -5vw;
            }
            #Pakke_3 {
              width: 20vw;
              margin: auto;
              position: relative;
              right: -5vw;
            }
          }
          #PakkeTekst_1 {
            font-family: fontBold;
            text-align: center;
            position: relative;
            top: 10vw;
            left: -2vw;
          }
          #PakkeTekst_2 {
            font-family: fontBold;
            text-align: center;
            position: relative;
            top: 10vw;
            left: -6vw;
          }
          #PakkeTekst_3 {
            font-family: fontBold;
            text-align: center;
            position: relative;
            top: 10vw;
            left: -5vw;
          }
        }
      }
      .collabHeadlineRegular {
        top: 210vh;
      }
      .collabHeadlineExpanded {
        top: 280vh;
      }
      #collabHeadline {
        position: absolute;
        transition: 1s;
        width: 100vw;
        #collabHeadlineText {
          text-align: center;
          font-family: fontBold;
          color: $aidred;
          font-size: 2.5em;
        }
      }
      .collaboratorsRegular {
        top: 250vh;
      }
      .collaboratorsExpanded {
        top: 315vh;
      }
      #collaborators {
        position: absolute;
        left: 6vw;
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .collabElement {
          height: 30vh;
          margin: 4vw;
          margin-top: -10vw;
          display: block;

          #collab_1 {
            width: 9vw;
            margin: auto;
            position: relative;
            top: 0vh;
          }
          #collab_2 {
            width: 13vw;
            margin: auto;
            position: relative;
            top: 0vh;
          }
          #collab_3 {
            width: 10vw;
            margin: auto;
            position: relative;
            top: 0vh;
          }
          #collab_4 {
            width: 10vw;
            margin: auto;
            position: relative;
            top: 0vh;
          }
        }
      }
    }
  }
  .footerRegular {
    top: 370vh !important;
  }
  .footerExpanded {
    top: 344.5vh;
  }

  footer {
    position: absolute;
    height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    #kontakt {
      background-color: $skycyan !important;
      font-family: fontBold;
      font-family: fontBold;
      text-align: center;
    }
    #toMainPage {
      background-color: $skycyan !important;
      font-family: fontBold;
      text-align: center;
    }
  }
}
