@font-face {
  font-family: "fontBlack";
  src: url("assets/fonts/InternacionalAlt-Black.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "fontBold";
  src: url("assets/fonts/InternacionalAlt-Bold.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "fontLight";
  src: url("assets/fonts/InternacionalAlt-Light.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "fontRegular";
  src: url("assets/fonts/InternacionalAlt-Regular.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "fontSemiBold";
  src: url("assets/fonts/InternacionalAlt-SemiBold.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "fontThin";
  src: url("assets/fonts/InternacionalAlt-Thin.ttf") format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: "fontUltraLight";
  src: url("assets/fonts/InternacionalAlt-UltraLight.ttf") format("truetype-variations");
  font-weight: 1 999;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body header {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

body header #splash {
  height: 50vw;
}

body header #splash #splashMobilImage img {
  width: 100vw;
  height: auto;
}

body header #splash #splashDesktopImage {
  display: none;
}

body header #splash #splashHeadline {
  position: absolute;
  top: 5vw;
  width: 100%;
}

body header #splash #splashHeadline #splashHeadlineText {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: fontBlack;
  font-size: 2em;
  color: #f74d48;
}

body header #splash #splashHeadline #SplashedHeadlineText2 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: fontBold;
  font-size: 1.4em;
  color: white;
  position: relative;
  top: 4vh;
}

body header #splash #splashHeadline #SplashedHeadlineText2 #green {
  color: green;
}

body header #splash #splashText {
  position: absolute;
  top: 22vw;
  left: 5vw;
  line-height: 2em;
  margin-top: 6vh;
  padding-left: 11vw;
  padding-right: 11vw;
  color: white;
}

body header #splash #splashText #splashTextTxt {
  margin: 0;
  padding: 0;
  font-family: fontRegular;
  letter-spacing: 0.1vw;
  font-size: 1.1em;
}

body header #splash #goToCalc {
  display: none;
  position: relative;
  width: 52vw;
  height: 8vw;
  left: 26vw;
  bottom: 5vw;
  background-color: black;
  cursor: pointer;
}

body header #splash #goToCalc #goToCalcText {
  color: white;
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1vw;
  font-size: 1.1em;
  transform: translateY(1vw);
  text-align: center;
}

body main {
  position: absolute;
  top: 50vh;
}

body main .questionBox {
  width: 42vw;
  height: 5vh;
  border-radius: 5px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body main .questionBox p {
  height: 5vh;
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

body main p {
  margin: 0;
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: bold;
}

body main .regular {
  height: 15.5vh;
}

body main .expanded {
  height: 80vh;
}

body main #goLeft {
  z-index: 30;
  opacity: 0;
  top: 1vw;
  position: absolute;
  pointer-events: none;
  width: 10vw;
}

body main #goLeft #goLeftImg {
  width: 100%;
}

body main #goRight {
  z-index: 30;
  position: absolute;
  top: 1vw;
  width: 10vw;
  left: 90vw;
  pointer-events: none;
  opacity: 0;
}

body main #goRight #goRightImg {
  width: 100%;
  transform: rotate(180deg);
}

body main #calcCO2 {
  z-index: -10vw;
  transition: 1s;
  box-sizing: border-box;
  position: absolute;
  top: 0vw;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

body main #calcCO2 .q1H2 {
  margin-top: 5vh;
  font-size: 1.3em;
  margin-bottom: 7vh;
  font-family: fontRegular;
}

body main #calcCO2 .slide1 {
  transform: translateX(0vw);
}

body main #calcCO2 .slide2 {
  transform: translateX(-100vw);
}

body main #calcCO2 .slide3 {
  transform: translateX(-200vw);
}

body main #calcCO2 .slide4 {
  transform: translateX(-300vw);
}

body main #calcCO2 #q1Headline {
  font-family: "fontBlack";
  text-align: center;
  margin-top: 8vh;
}

body main #calcCO2 #q2Headline {
  font-family: "fontBlack";
  text-align: center;
  margin-top: 8vh;
}

body main #calcCO2 #q3Headline {
  font-family: "fontBlack";
  text-align: center;
  margin-top: 8vh;
}

body main #calcCO2 #q4Headline {
  font-family: "fontBlack";
  text-align: center;
  margin-top: 8vh;
}

body main #calcCO2 #questionSlider {
  z-index: 1;
  transition: 0.5s;
  width: 200vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

body main #calcCO2 #questionSlider .question {
  width: 100vw;
  height: 100%;
}

body main #calcCO2 #questionSlider #questionID1 {
  background-color: white;
}

body main #calcCO2 #questionSlider #questionID1 #start {
  width: 10vw;
  height: 10vw;
  position: absolute;
  right: 1vw;
  top: 1vw;
  background-color: black;
  cursor: pointer;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_1 {
  transition: 0.2s;
  opacity: 100;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_1 #questionID1_1Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_1 #questionID1_1MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_1 #questionID1_1MainArea .ID1_1Selected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_1 #questionID1_1MainArea .ID1_1 {
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_1 #questionID1_1Nav .next1 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 #questionID1_2Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 #questionID1_2MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 #questionID1_2MainArea .ID1_2Selected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 #questionID1_2MainArea .ID1_2 {
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 #questionID1_2Nav .goBackOnce2 {
  width: 20vw;
  height: 3vh;
  background-color: hotpink;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_2 #questionID1_2Nav .next2 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 #questionID1_3Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 #questionID1_3Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 #questionID1_3MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 #questionID1_3MainArea .ID1_3Selected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 #questionID1_3MainArea .ID1_3 {
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID1 #questionID1_3 #questionID1_3Nav .next3 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID2 {
  background-color: white;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 {
  display: block;
  opacity: 100;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5vw;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1MainArea .ID2_1Selected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1MainArea .ID2_1 {
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1Nav .goBackOnce4 {
  width: 20vw;
  height: 3vh;
  background-color: hotpink;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_1 #questionID2_1Nav .next4 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0vw;
  width: 1%;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea .ID2_2 {
  display: none;
  transform: scale(0.9);
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea .ID2_2 .answerBoxHeadline {
  font-size: 0.7em;
  position: relative;
  left: 2vw;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea .ID2_2 .valueBoxSelected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea .ID2_2 .valueBox {
  height: 20%;
  margin: 2vw;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea .ID2_2 .valueInput {
  padding: 1vw;
  margin-bottom: 1vh;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2MainArea .ID2_2 label {
  font-family: sans-serif;
  font-weight: bold;
  color: #06729e;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2Nav .goBackOnce5 {
  width: 20vw;
  height: 3vh;
  background-color: hotpink;
}

body main #calcCO2 #questionSlider #questionID2 #questionID2_2 #questionID2_2Nav .next5 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID3 {
  background-color: white;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 {
  display: block;
  opacity: 100;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 #questionID3_1Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 #questionID3_1Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 #questionID3_1MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 #questionID3_1MainArea .ID3_1Selected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 #questionID3_1MainArea .ID3_1 {
  display: block;
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_1 #questionID3_1Nav .next6 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2MainArea {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3vw;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2MainArea .ID3_2Selected {
  background-color: #06729e !important;
  color: white;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2MainArea .ID3_2 {
  display: block;
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2MainArea #miles {
  width: 15vw;
  height: 2.5vh;
  text-align: center;
  position: relative;
  left: 42.5vw;
  border-radius: 5px;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2MainArea label {
  text-align: center;
  font-family: sans-serif;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

body main #calcCO2 #questionSlider #questionID3 #questionID3_2 #questionID3_2Nav .next7 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID4 {
  background-color: white;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 {
  display: block;
  opacity: 100;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 #questionID4_1Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 #questionID4_1Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontRegular;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 #questionID4_1MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 #questionID4_1MainArea .ID4_1Selected {
  background-color: #06729e !important;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 #questionID4_1MainArea .ID4_1 {
  display: block;
  background-color: #7cccea;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_1 #questionID4_1Nav .next8 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 #questionID4_2Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 #questionID4_2Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontBlack;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 #questionID4_2MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 #questionID4_2MainArea .incrementalCounter label {
  font-family: sans-serif;
  color: #06729e;
  font-weight: bold;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 #questionID4_2MainArea .incrementalCounter input {
  margin: 0.5vh;
  border-radius: 4px;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_2 #questionID4_2Nav .next9 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 {
  display: none;
  opacity: 0;
  transition: 0.2s;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 #questionID4_3Headline {
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 #questionID4_3Headline .q1H2 {
  font-size: 1.5em;
  font-family: fontBlack;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 #questionID4_3MainArea {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vw;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 #questionID4_3MainArea .incrementalCounter label {
  font-family: sans-serif;
  color: #06729e;
  font-weight: bold;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 #questionID4_3MainArea .incrementalCounter input {
  margin: 0.5vh;
  border-radius: 4px;
  padding-top: 0.4vh;
  padding-bottom: 0.4vh;
  text-align: center;
}

body main #calcCO2 #questionSlider #questionID4 #questionID4_3 #questionID4_3Nav .next10 {
  width: 30vw;
  height: 4.3vh;
  border-radius: 8px;
  position: relative;
  left: 35vw;
  right: 50vw;
  top: 4vh;
  color: white;
  background-color: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #calcCO2 .up {
  top: -100%;
}

body main #calcCO2 .down {
  top: 0;
}

body main #calcCO2 .up {
  top: -80vh;
}

body main #calcCO2 .down {
  top: 0;
}

body main #calcCO2 #endCard {
  position: absolute;
  z-index: 2;
  transition: 0.3s;
  width: 100vw;
  height: 100%;
  background-color: white;
}

body main #calcCO2 #endCard #buy {
  position: relative;
  top: 7vh;
  left: 37.5vw;
  width: 25vw;
  border: 1px solid white;
  border-radius: 8px;
  background-color: #7cccea;
}

body main #calcCO2 #endCard #buy p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
  color: black;
}

body main #calcCO2 #endCard #endCardOptions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 8vw;
  gap: 3vw;
}

body main #calcCO2 #endCard #endCardOptions .presentSelected {
  transform: scale(1.1);
  border: 2px solid #06729e;
}

body main #calcCO2 #endCard #endCardOptions .present {
  width: 20vw;
  padding: 3vw;
  height: 20vw;
  background-color: white;
  margin: auto;
  display: grid;
  text-align: center;
}

body main #calcCO2 #endCard #endCardOptions .presentText {
  font-size: 0.7em;
  margin-top: 1vh;
}

body main #calcCO2 #endCard #endCardOptions #present_1 {
  grid-column-start: 2;
}

body main #calcCO2 #endCard #endCardOptions #present_2 {
  grid-column-start: 1;
  grid-row: 2;
  margin-top: 5vw;
  width: 20vw;
  height: 20vw;
}

body main #calcCO2 #endCard #endCardOptions #present_2 img {
  width: 13vw;
}

body main #calcCO2 #endCard #endCardOptions #present_3 {
  grid-column-start: 2;
  grid-row: 2;
  margin-top: 5vw;
}

body main #calcCO2 #endCard #endCardOptions #present_3 img {
  width: 20vw;
}

body main #calcCO2 #endCard #endCardOptions #present_4 {
  grid-column-start: 3;
  grid-row: 2;
  margin-top: 5vw;
}

body main #calcCO2 #endCard #endCardOptions #present_4 img {
  width: 16vw;
}

body main #calcCO2 #endCard #endCardOptions .presentImg {
  width: 30vw;
  text-align: center;
  margin: auto;
}

body main #calcCO2 .paymentUp {
  top: -100%;
}

body main #calcCO2 .paymentDown {
  top: 0vw;
}

body main #calcCO2 #payment {
  position: absolute;
  z-index: 2;
  transition: 0.3s;
  width: 100vw;
  height: 100%;
  background-color: white;
}

body main #calcCO2 #payment #paymentIMG {
  width: 80%;
  margin-left: 10%;
}

body main #calcCO2 .thankYouUp {
  top: -200%;
}

body main #calcCO2 .thankYouDown {
  top: 0%;
}

body main #calcCO2 #thankYou {
  opacity: 0;
  position: absolute;
  z-index: 2;
  transition: 0.3s;
  width: 100vw;
  height: 100%;
  background-color: white;
}

body main #calcCO2 #thankYou #thankYouImgContainer {
  width: 60%;
  margin-left: 10vw;
}

body main #calcCO2 #thankYou #thankYouImgContainer #thankYouIMG {
  width: 60%;
}

body main .infoRegular {
  top: 15vh;
}

body main .infoExpanded {
  top: 79.5vh;
}

body main #info {
  position: absolute;
  transition: 1s;
}

body main #info #infoHeadline1 {
  position: absolute;
  width: 100vw;
  top: 2vh;
}

body main #info #infoHeadline1 #infoHeadline1Text {
  margin: 0;
  padding: 0;
  text-align: center;
}

body main #info #grafikArea1 {
  position: absolute;
  top: 2vh;
  left: 7.5vw;
  width: 85vw;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

body main #info #grafikArea1 .grafikElement1 {
  /* background-color: black;
          height: 30vh; */
  margin: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #info #grafikArea1 .grafikElement1 #Stig_1 {
  width: 58vw;
  position: relative;
  top: 8vh;
  margin: auto;
}

body main #info #grafikArea1 .grafikElement1 #Stig_2 {
  width: 25vw;
  margin: auto;
}

body main #info #grafikArea1 .grafikElement1 #Stig_3 {
  width: 38vw;
  margin: auto;
}

body main #info #infoHeadline2 {
  position: absolute;
  top: 103vh;
  width: 100vw;
}

body main #info #infoHeadline2 #InfoHeadline2Text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: fontBold;
  color: #f74d48;
}

body main #info #infoText {
  position: absolute;
  top: 110vh;
  left: 13vw;
  width: 80vw;
  line-height: 1.8em;
}

body main #info #infoText #infoTextTxt {
  margin: 0;
  padding: 0;
  font-family: fontRegular;
  letter-spacing: 0.1vw;
  font-size: 1.1em;
}

body main #info #grafikArea2 {
  position: absolute;
  top: 160vh;
  left: 7.5vw;
  width: 85vw;
}

body main #info #grafikArea2 .grafikElement2 {
  height: 30vh;
  margin: auto;
}

body main #info #grafikArea2 .grafikElement2 #Pakke_1 {
  width: 100%;
  margin: auto;
  transform: scale(0.4);
}

body main #info #grafikArea2 .grafikElement2 #Pakke_2 {
  width: 100%;
  margin: auto;
  margin-top: 10vh;
  transform: scale(0.7);
}

body main #info #grafikArea2 .grafikElement2 #Pakke_3 {
  width: 100%;
  margin: auto;
  margin-top: 12vh;
  transform: scale(0.8 0.5);
}

body main #info #grafikArea2 #PakkeTekst_1 {
  font-family: fontBold;
  text-align: center;
  position: relative;
  top: -25vw;
}

body main #info #grafikArea2 #PakkeTekst_2 {
  font-family: fontBold;
  text-align: center;
  position: relative;
  top: -8vw;
}

body main #info #grafikArea2 #PakkeTekst_3 {
  font-family: fontBold;
  text-align: center;
  position: relative;
}

body main .collabHeadlineRegular {
  top: 295vh;
}

body main .collabHeadlineExpanded {
  top: 355vh;
}

body main #collabHeadline {
  position: absolute;
  transition: 1s;
  width: 100vw;
}

body main #collabHeadline #collabHeadlineText {
  text-align: center;
  font-family: fontBold;
  color: #f74d48;
}

body main .collaboratorsRegular {
  top: 305vh;
}

body main .collaboratorsExpanded {
  top: 365vh;
}

body main #collaborators {
  position: absolute;
  transition: 1s;
  left: 15vw;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr;
}

body main #collaborators .collabElement {
  height: 30vh;
  margin: 4vw;
  margin-top: -10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body main #collaborators .collabElement #collab_1 {
  width: 35vw;
  margin: auto;
}

body main #collaborators .collabElement #collab_2 {
  width: 50vw;
  margin: auto;
  position: relative;
  top: -15vw;
}

body main #collaborators .collabElement #collab_3 {
  width: 50vw;
  margin: auto;
  position: relative;
  top: -35vw;
}

body main #collaborators .collabElement #collab_4 {
  width: 50vw;
  margin: auto;
  position: relative;
  top: -55vw;
}

body .footerRegular {
  top: 440vh;
}

body .footerExpanded {
  top: 495vh;
}

body footer {
  position: absolute;
  transition: 1s;
  height: 30vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

body footer #kontakt {
  background-color: #7cccea;
  text-align: center;
  font-family: fontRegular;
  color: white;
  cursor: pointer;
}

body footer #kontakt a {
  color: white;
  text-decoration: none;
}

body footer #toMainPage {
  background-color: #7cccea;
  text-align: center;
  font-family: fontRegular;
  color: white;
}

@media only screen and (min-width: 1920px) {
  body {
    overflow-x: hidden;
  }
  body header {
    position: absolute;
    top: 0;
  }
  body header #splash {
    height: 200%;
  }
  body header #splash #splashDesktopImage {
    display: block;
  }
  body header #splash #splashDesktopImage img {
    width: 100vw;
    height: auto;
  }
  body header #splash #splashMobilImage {
    display: none;
  }
  body header #splash #splashHeadline {
    position: absolute;
    top: 4vw;
  }
  body header #splash #splashHeadline #splashHeadlineText {
    font-family: fontBold;
    letter-spacing: 0.1vw;
    font-size: 3em;
    text-align: center;
  }
  body header #splash #splashHeadline #SplashedHeadlineText2 {
    font-family: fontBold;
    letter-spacing: 0.1vw;
    font-size: 4em;
    position: relative;
    top: 13vh;
  }
  body header #splash #splashText {
    position: absolute;
    top: 35vh;
    left: 17vw;
    right: 17vw;
  }
  body header #splash #splashText #splashTextTxt {
    font-family: fontRegular;
    font-size: 1.6em;
    line-height: 1.4em;
  }
  body header #splash #goToCalc {
    position: relative;
    width: 18vw;
    height: 4vw;
    left: 41vw;
    top: -100vw;
    background-color: black;
    cursor: pointer;
    display: block;
  }
  body header #splash #goToCalc #goToCalcText {
    color: white;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 1vw;
    font-size: 0.8em;
    transform: translateY(1vw);
    text-align: center;
  }
  body main {
    position: absolute;
    top: 100vh;
  }
  body main .expanded {
    height: 80vh;
  }
  body main .regular {
    height: 15.5vh;
  }
  body main #calcCO2 {
    border: solid black 2px;
    transition: 1s;
    box-sizing: border-box;
    position: absolute;
    top: 0vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  body main #calcCO2 #questionSlider {
    width: 400%;
    height: 100%;
  }
  body main #calcCO2 #questionSlider .question {
    width: 100vw;
    height: 100%;
  }
  body main #calcCO2 #questionSlider #questionID1 {
    background-color: blue;
  }
  body main #calcCO2 #questionSlider #questionID2 {
    background-color: green;
  }
  body main #calcCO2 #questionSlider #questionID3 {
    background-color: red;
  }
  body main #calcCO2 #questionSlider #questionID4 {
    background-color: hotpink;
  }
  body main .infoRegular {
    top: 15vh;
  }
  body main .infoExpanded {
    top: 79.5vh;
  }
  body main #info {
    position: absolute;
  }
  body main #info #infoHeadline1 {
    position: absolute;
    width: 100vw;
    top: 2vh;
  }
  body main #info #infoHeadline1 #infoHeadline1Text {
    text-align: center;
  }
  body main #info #grafikArea1 {
    position: absolute;
    top: 8vh;
    left: 7.5vw;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main #info #grafikArea1 .grafikElement1 {
    height: 30vh;
    margin: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body main #info #grafikArea1 .grafikElement1 #Stig_1 {
    width: 20vw;
    margin: auto;
  }
  body main #info #grafikArea1 .grafikElement1 #Stig_2 {
    width: 10vw;
    margin: auto;
  }
  body main #info #grafikArea1 .grafikElement1 #Stig_3 {
    width: 12vw;
  }
  body main #info #infoHeadline2 {
    position: absolute;
    top: 95vh;
    width: 100vw;
  }
  body main #info #infoHeadline2 #InfoHeadline2Text {
    text-align: center;
    font-size: 2vw;
  }
  body main #info #infoText {
    position: absolute;
    top: 105vh;
    width: 50vw;
    line-height: 1.8em;
    left: 26vw;
    right: 17vw;
  }
  body main #info #infoText #infoTextTxt {
    margin: 0;
    padding: 0;
    font-family: fontRegular;
    letter-spacing: 0.1vw;
    font-size: 1.1em;
    font-family: fontRegular;
    font-size: 1.6em;
    line-height: 1.4em;
  }
  body main #info #grafikArea2 {
    position: absolute;
    top: 175vh;
    left: 7.5vw;
    width: 85vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  body main #info #grafikArea2 .grafikElement2 {
    height: 30vh;
    margin: 4vw;
    margin-top: -20vw;
  }
  body main #info #grafikArea2 .grafikElement2 #Pakke_1 {
    width: 10vw;
    margin: auto;
    position: relative;
    right: -5vw;
  }
  body main #info #grafikArea2 .grafikElement2 #Pakke_2 {
    width: 20vw;
    margin: auto;
    position: relative;
    right: -5vw;
  }
  body main #info #grafikArea2 .grafikElement2 #Pakke_3 {
    width: 20vw;
    margin: auto;
    position: relative;
    right: -5vw;
  }
  body main #info #grafikArea2 #PakkeTekst_1 {
    font-family: fontBold;
    text-align: center;
    position: relative;
    top: 10vw;
    left: -2vw;
  }
  body main #info #grafikArea2 #PakkeTekst_2 {
    font-family: fontBold;
    text-align: center;
    position: relative;
    top: 10vw;
    left: -6vw;
  }
  body main #info #grafikArea2 #PakkeTekst_3 {
    font-family: fontBold;
    text-align: center;
    position: relative;
    top: 10vw;
    left: -5vw;
  }
  body main .collabHeadlineRegular {
    top: 210vh;
  }
  body main .collabHeadlineExpanded {
    top: 280vh;
  }
  body main #collabHeadline {
    position: absolute;
    transition: 1s;
    width: 100vw;
  }
  body main #collabHeadline #collabHeadlineText {
    text-align: center;
    font-family: fontBold;
    color: #f74d48;
    font-size: 2.5em;
  }
  body main .collaboratorsRegular {
    top: 250vh;
  }
  body main .collaboratorsExpanded {
    top: 315vh;
  }
  body main #collaborators {
    position: absolute;
    left: 6vw;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  body main #collaborators .collabElement {
    height: 30vh;
    margin: 4vw;
    margin-top: -10vw;
    display: block;
  }
  body main #collaborators .collabElement #collab_1 {
    width: 9vw;
    margin: auto;
    position: relative;
    top: 0vh;
  }
  body main #collaborators .collabElement #collab_2 {
    width: 13vw;
    margin: auto;
    position: relative;
    top: 0vh;
  }
  body main #collaborators .collabElement #collab_3 {
    width: 10vw;
    margin: auto;
    position: relative;
    top: 0vh;
  }
  body main #collaborators .collabElement #collab_4 {
    width: 10vw;
    margin: auto;
    position: relative;
    top: 0vh;
  }
  .footerRegular {
    top: 370vh !important;
  }
  .footerExpanded {
    top: 344.5vh;
  }
  footer {
    position: absolute;
    height: 30vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer #kontakt {
    background-color: #7cccea !important;
    font-family: fontBold;
    font-family: fontBold;
    text-align: center;
  }
  footer #toMainPage {
    background-color: #7cccea !important;
    font-family: fontBold;
    text-align: center;
  }
}
